<footer>
  <div class="container-fluid app-block">
    <div class="row g-4">
      <div class="col-lg-4 pe-5">
        <div class="summary">
          <p class="subheading">SAINT LUKE CATHOLIC CHAPLAINCY, UCH.</p>
          <p class="fs-6">
            Rooted in the Catholic faith, united in Christ.
          </p>
          <p class="fs-6">
            Join us for Mass and prayer as we grow in faith together.
          </p>
          <br><br>
          <p class="fs-6 text-uppercase">Sunday Mass time table:</p>
          <ol>
            <li>
              Second Sundays (Community Sunday): 9am and 6pm. Family time holds after the 9am Mass.
            </li>
            <li>
              Other Sundays: 6:30am, 9:00am and 6:00pm.
            </li>
          </ol>
        </div>
      </div>
      <div class="col-lg-4">
        <p class="subheading">LINKS</p>
        <div class="quick-links">
          <a class="d-block fs-6 mb-1" routerLink="support/healthcare">
            I am in UCH, Ibadan for Healthcare
          </a>
          <a class="d-block fs-6 mb-1" routerLink="support/work">I am in UCH, Ibadan for Work</a>
          <a class="d-block fs-6 mb-1" routerLink="support/studies">I am in UCH, Ibadan for Studies</a>
          <a class="d-block fs-6 mb-1" routerLink="support/healthcare">Making a Prayer Request</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="quick-links">
          <a class="d-block fs-6 mb-1" routerLink="support/healthcare">Video Tour</a>
          <a class="d-block fs-6 mb-1" routerLink="support/work">Events Timetable</a>
          <a class="d-block fs-6 mb-1" routerLink="support/studies">The Catholic Faith</a>
          <a class="d-block fs-6 mb-1" routerLink="support/healthcare">The Christian Life</a>
        </div>
      </div>
    </div>
  </div>
</footer>