<div class="app-block">
  <div class="container-fluid">
    <div class="row g-4 align-items-center">
      <div class="col-lg-6 pb-5">
        <p class="small-text text-uppercase opacity-50 dotted-bottom-border text-spread">SAINT LUKE CHURCH</p>
        <h1 class="heading-xl">
          The Christian Life
        </h1>
        <h2 class="heading-medium opacity-75">
          How we can support you
        </h2>
      </div>
    </div>
    <app-section [sections]="sections"></app-section>
  </div>
</div>