<app-carousel title="St. Luke" subtitle="" [imgs]="imgs"></app-carousel>
<div class="app-block">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-11 col-xl-9">
        <h1 class="heading-xl">Who Are We?</h1>
        <div class="">
          <h2 class="heading-small mb-3">
            A Chaplaincy that reaches out to all parishes within and outside of the Arch Diocese of Ibadan.
          </h2>
          <h2 class="heading-small mb-3">
            We get active participation and contribution from undergraduate, graduate students, teachers and professionals who are working in other parts of Nigeria and the diaspora.
          </h2>
        </div>
      </div>
    </div>
    <app-section [sections]="sections"></app-section>
  </div>
</div>