<div class="app-block" id="contact">
  <h1 class="heading-xl">
    Contact Us
  </h1>
  <br><br>
  <div class="container-fluid">
    <div class="row gy-3">
      <div class="col-lg-4">
        <div class="app-card">
          <div class="app-list-item pb-4">
            <p class="subheading fw-bold mb-0">
              <span class="fw-bold">Call/Message/WhatsApp</span>
              <i class="bi bi-dot color-accent"></i>
            </p>
            <a class="app-text-primary fs-5 opacity-75" href="tel:+2348066199175">08066199175</a>
          </div>
          <div class="app-list-item pb-4">
            <p class="subheading fw-bold mb-0">
              <span class="fw-bold">Send us an email</span>
              <i class="bi bi-dot color-accent"></i>
            </p>
            <a class="app-text-primary fs-5 opacity-75" href="mailto:hello@stlukeuch.org">hello@stlukeuch.org</a>
          </div>
          <div class="app-list-item pb-4">
            <p class="subheading fw-bold mb-0">
              <span class="fw-bold">Instagram</span>
              <i class="bi bi-dot color-accent"></i>
            </p>
            <a class="app-text-primary fs-5 opacity-75" href="mailto:hello@stlukeuch.org">hello@stlukeuch.org</a>
          </div>
          <div class="app-list-item pb-4">
            <p class="subheading fw-bold mb-0">
              <span class="fw-bold">Worship with us</span>
            </p>
            <a class="app-text-primary fs-5 opacity-75" href="https://maps.app.goo.gl/iByKyDqPydWYTD9SA">
              St. Luke Catholic Church, UCH, UCH Secretariat Road, Agodi, Ibadan 200285, Oyo.
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="gallery-img-bg match-height">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3956.5738648467986!2d3.8977396000000004!3d7.401550399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x10398d591733bd37%3A0xe30aa0d5e83016f3!2sSt%20Luke%20Catholic%20Church%20UCH!5e0!3m2!1sen!2sng!4v1772282234734!5m2!1sen!2sng"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" class="w-100 match-height img-thumbnail"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>