<div class="app-block">
  <div class="container-fluid">
    <div class="row g-4 align-items-center">
      <div class="col-lg-6 pb-5">
        <p class="small-text text-uppercase opacity-50 dotted-bottom-border text-spread">SAINT LUKE CHURCH</p>
        <h1 class="heading-xl">
          Supporting,
        </h1>
        <h1 class="heading-xl">
          St. Luke Church
        </h1>
        <p class="heading-small">Find out how you can support the church and her projects.</p>
        <br>
        <a href="tel:+2348066199175">
          <button class="d-inline-block primary-button mb-4 me-4 w-auto">
            CALL CHAPLAINCY
          </button>
        </a>
        <button class="d-inline-block w-auto" routerLink="." fragment="serve">LEARN MORE</button>
      </div>
      <div class="col-6 col-lg-3 col-xl-3">
        <div class="d-flex flex-column">
          <div class="support-image-container">
            <img [src]="first[0].url" [alt]="first[0].description"
              class="support-image img-fluid w-100">
          </div>
          <!-- <details class="description">
            <summary>
              <div class="thumbnail-description-pill mb-3">
                <p class="px-4 py-4 thumbnail-description-pill-text small-text m-0" role="button">
                  Prayer for the sick
                </p>
              </div>
            </summary>
          </details> -->
        </div>
      </div>
      <div class="col-6 col-lg-3 col-xl-3">
        <div class="d-flex flex-column">
          <div class="support-image-container">
            <img [src]="first[1].url" [alt]="first[1].description"
              class="support-image img-fluid w-100">
          </div>
          <!-- <details class="description">
            <summary>
              <div class="thumbnail-description-pill mb-3">
                <p class="px-4 py-4 thumbnail-description-pill-text small-text m-0" role="button">
                  Prayer for the sick
                </p>
              </div>
            </summary>
          </details> -->
        </div>
      </div>
    </div>
    <div class="row p-5"></div>
    <div class="row dotted-bottom-border w-100"></div>
    <app-section [sections]="sections"></app-section>
  </div>
</div>