<div class="app-block">
  <div class="app-section">
    <h1 class="heading-xl">Saint Luke</h1>
    <h1 class="heading-xl">Catholic Chaplaincy,</h1>
    <h1 class="heading-xl">UCH, Ibadan.</h1>
    <br>
    <h2 class="heading-small">
      Rooted in the Catholic faith, united in Christ.
    </h2>
    <br>
    <button class="d-inline-block primary-button mb-4 me-4 w-auto" routerLink="" fragment="contact">
      WORSHIP WITH US
    </button>
    <button class="d-inline-block w-auto" routerLink="" fragment="support">GET HELP</button>
  </div>
</div>
<!-- <div class="app-block">
  <div class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-item active">
      <div class="position-relative">
        <img src="assets/images/st.luke.1.altar.jpg" alt="" class="w-100 img-fluid">
      </div>
    </div>
  </div>
</div> -->
<hr>
<app-carousel [imgs]="imgs" title="Gallery" subtitle="Pictures of St. Luke Church"></app-carousel>
<div class="app-block">
  <!-- <h1 class="heading-xl"></h1> -->
  <div class="container-fluid" id="support">
    <div class="row gy-3 align-items-center">
      <div class="col-lg-6 col-xl-5">
        <img src="https://firebasestorage.googleapis.com/v0/b/stlukeuch.firebasestorage.app/o/static%2Fst.luke.3.our.lady.of.perpetual.help.resized.png?alt=media&token=7a9beebb-6575-4973-b230-f37b57ce0bf3" alt="Our Lady of Perpetual Help" class="img-fluid">
      </div>
      <div class="col-lg-6 col-xl-7">
        <h1 class="heading-xl">Support</h1>
        <div class="">
          <h2 class="heading-medium mb-3">Discover the ways the church can support you based on your need.</h2>
          <h3 class="heading-small mb-1">I am in UCH, Ibadan for...</h3>
        </div>
        <div class="container-fluid mt-4">
          <div class="row gy-3">
            <div class="col-md-6 col-lg-3" *ngFor="let x of ['Healthcare', 'Studies', 'Work']">
              <button class="" [routerLink]="'support/'+x.toLowerCase()">{{ x }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>